<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>Orange County's Marketplace</title>
</head>
<body>
    {% include "nav.html" %}
    {% include "banner.html" %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4" style="padding-bottom: 20px;">Orange County's Marketplace</h1>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-6">
                <p class="lead">
                    OC Marketplace is community driven platform that connects sellers and buyers through meaningful interactions and unique goods. Sellers and buyers are welcomed to negotiate the prices of their products to satisfy each other. This platform is made exclusively for the Orange County communities. Anyone can list their items with no hidden fees. Whether you're selling or buying, you are welcome to connect and interact with each other. Happy selling or buying! - Kite 
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="static/orangeslices.jpg" style="height: 320px;border-radius: 6px;">
            </div>
        </div>
        <h2 class="text-center mt-2" style="padding-top: 20px;">Item Listings</h2>
        <p>
            {% for item in items %}
                {% include 'item.html' %}
            {% endfor %}
        </p>
        <div class="text-center">        
            <a href="/applyforlisting" class="btn btn-primary btn-lg" target="_blank">Apply for Listing</a>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>