<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="margin-bottom: 6px; color:rgb(120,120,120)">{{item['itemName']}}</h4>
        <div>
            <b>Location:</b> {{item['location']}} 
        </div>
        {%  if 'price' in item %}
        <div>
            <b>Price: </b>${{item['price']}} 
        </div>
        {% endif %}
    </div>
    <div class="col-3" style="padding-top: 20px; padding-left: 150px;">
        <a href="mailto:kite@duck.com?subject=Interested%20in%20{{item['name']}}&body=Your%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AItem%3A%20%3Cinsert%20the%20item%20that%20you%20are%20interested%20in%20here%3E%0D%0A%0D%0AOffer%3A%20%3Coptional%3E%0D%0A%0D%0AMessage%3A%0D%0A%0D%0A%3Cinsert%20a%20message%20to%20seller%3E" class="btn btn-outline-primary">Buy/Offer</a>
    </div>
</div>