<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="margin-bottom: 6px; color:rgb(120,120,120)">{{item['itemName']}}</h4>
        <div>
            <b>Location:</b> {{item['location']}} 
        </div>
        {%  if 'price' in item %}
        <div>
            <b>Price: </b>${{item['price']}} 
        </div>
        {% endif %}
    </div>
    <div class="col-3" style="padding-top: 20px; padding-left: 150px;">
        <a href="/item/{{item['id']}}" class="btn btn-outline-primary">View</a>
    </div>
</div>

